# Block everything by default
*

# Allow directories so Git can traverse the folder structure
!*/

# Explicitly allow MATLAB scripts, gitignore, LTspice schematics, and images
!*.m
!.gitignore
!*.asc
!*.png
!*.jpg
!*.jpeg
